.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.floating-content {
    background-color: white;
    width: 900px;
    height: 80vh;
    border-radius: 4px;
    overflow: hidden;
    background-color: lightgray;

    display: flex;
    flex-direction: column;
}